Repository Financial-Times/dotcom-page-kit, pull requests merged in 2020-01, with the labels that each got.

#705 Revise Dynamic Imports example
  examples/dynamic-imports/__test__/integration.test.js
  examples/dynamic-imports/client/dogEmoji.js
  examples/dynamic-imports/client/dogImage.js
  examples/dynamic-imports/client/main.js
Labels: Example app

#720 Remove 'top' as a oHeader sass option
  packages/dotcom-ui-header/styles.scss
Labels: Bug, UI

#722 Update the labels for the storybook logo only demo
  packages/dotcom-ui-header/src/__stories__/story.tsx
Labels: Housekeeping, Testing

#723 Bump n-ads
  examples/kitchen-sink/client/main.js
  examples/kitchen-sink/package.json
Labels: Example app, Housekeeping

#732 add live-blog as a valid content type
  packages/dotcom-server-app-context/schema.md
  packages/dotcom-server-app-context/src/schema.json
Labels: Server-side integration
